GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=
GOOGLE_OAUTH_REFRESH_TOKEN=

GOOGLE_SHEETS_ID=

GOOGLE_DRIVE_PIX_FOLDER_ID=
GOOGLE_DRIVE_GUEST_PHOTOS_FOLDER_ID=
GOOGLE_DRIVE_RG_PHOTOS_FOLDER_ID=

NEXT_PUBLIC_APP_URL=http://localhost:3000